<li>
  <div class="checkbox checkbox-info checkbox-circle">
    <input
      id="check{{id}}"
      name="todo-item"
      class="styled"
      type="checkbox"
      (click)="onChangeStatus()"
      [checked]="todo.isCompleted">
    <label for="check{{id}}">
    </label>
    <input
      type="text"
      id="input{{id}}"
      value="{{ todo.itemName }}"
      (blur)="discardEdit()"
      (keyup.esc)="discardEdit()"
      (keyup.enter)="onSave(todoItem.value)"
      [disabled]="!editMode"
      #todoItem>
    <a
      *ngIf="!todo.isCompleted"
      class="sign edit-sign"
      (click)="onEditItem(todoItem)"><i class="fas fa-pen"></i></a>
    <a
      class="sign delete-sign"
      (click)="onDeleteItem(todoItem)"><i class="fas fa-times"></i></a>
  </div>
</li>
